.table__item {
  margin: 10px;
  border: 1px solid blueviolet;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.table__item:last-child {
  border: none;
}

.table__item:last-child:hover {
  background: rgba(3, 38, 73, 0.6);
}

.table__item:hover {
  background: rgba(11, 19, 27, 0.6);
}